@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />

    <title>Andressa Trindade Modelos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    
    @RenderSection("Css", false)

    @RenderSection("Scripts", false)

</head>
<body>
    <div class="wrapper">
        <!--menu-->

        <section class="bar-secondary">
            <div class="container">
                <!--second menu-->
            </div><!-- /.container -->
        </section><!-- /.bar-secondary -->

        <main class="main">
            @RenderBody()
        </main>

        <!--Footer-->
    </div>
</body>
</html>