<!DOCTYPE root[<!ELEMENT Profissional ANY>
<!ATTLIST Profissional id ID #REQUIRED>
<!ELEMENT Profissionais ANY>
<!ATTLIST Profissionais id ID #REQUIRED>
 
<!ELEMENT Estrutura ANY>
<!ATTLIST Estrutura id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Paginas ANY>
<!ATTLIST Paginas id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1062" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-11-16T15:37:01" updateDate="2014-11-16T15:38:36" nodeName="Home" urlName="home" path="-1,1062" isDoc="" nodeType="1061" creatorName="Admin" writerName="Admin" writerID="0" template="1058" nodeTypeAlias="Home">
    <Profissionais id="1067" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2014-11-16T16:00:32" updateDate="2014-11-16T16:02:30" nodeName="Profissionais" urlName="profissionais" path="-1,1062,1067" isDoc="" nodeType="1063" creatorName="Admin" writerName="Admin" writerID="0" template="1064" nodeTypeAlias="Profissionais">
      <Profissional id="1068" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2014-11-16T16:03:21" updateDate="2014-11-16T16:33:34" nodeName="Fotógrafo X" urlName="fotografo-x" path="-1,1062,1067,1068" isDoc="" nodeType="1066" creatorName="Admin" writerName="Admin" writerID="0" template="1065" nodeTypeAlias="Profissional">
        <nome>Lorem ipsum dolor</nome>
        <especialidade>Duis autem vel</especialidade>
        <descricaoEspecialidade><![CDATA[Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.
]]></descricaoEspecialidade>
      </Profissional>
      <Profissional id="1069" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2014-11-16T16:21:42" updateDate="2014-11-16T16:36:09" nodeName="Fotógrafo Lorem Ipsum" urlName="fotografo-lorem-ipsum" path="-1,1062,1067,1069" isDoc="" nodeType="1066" creatorName="Admin" writerName="Admin" writerID="0" template="1065" nodeTypeAlias="Profissional">
        <nome>Roberto da Silva</nome>
        <especialidade>Fotógrafo</especialidade>
        <descricaoEspecialidade><![CDATA[Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. ]]></descricaoEspecialidade>
      </Profissional>
    </Profissionais>
  </Home>
</root>