@inherits umbraco.MacroEngines.DynamicNodeContext

@{}

<h2><strong>Nome: </strong>@Model.nome</h2>

<div class="row">
    <div class="col-md-2">
        <strong>Especialidade:</strong> @Model.especialidade
    </div>
    <div class="col-md-2">
        <strong>Descrição do serviço:</strong> @Model.descricaoEspecialidade
    </div>
</div>